extends layout

block content
  h1 <a href="/">WTF is my ITP Project?</a>
  div#project= gentitle

  div#pitch= pitch

  div#perma <p><a href="/#{perma}">permalink</a></p>



  div#footer <a href="https://github.com/shiffman/ITP-Project-Generator">github</a> <a href="http://itp.nyu.edu">thanks itp</a> <a href="https://twitter.com/shiffman">@shiffman</a>