body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

#generate a {
  position:fixed;
  bottom: 100px;
  padding: 4px;
  color: #000;
  border: 1px;
}

#generate a:active {
  background-color: #FF00B7;
}

#project {
  margin-top: 50px;
  padding: 0px;
  font-weight:bold;
}
#pitch {
  margin-top: 10px;
  padding: 0px;
  height: 200px;
}



#footer {
   position:fixed;
   right:0px;
   bottom:0px;
   height:30px;
   width:100%;
   padding: 10px;
   background:#FF00B7;
   font-size: 12px;
   text-align: right;
}
